<div class="container">
  <nav>
    <ul class="nav nav-justified nav-pills">
      <li><a data-target="#past-tab" data-toggle="tab">Past</a></li>
      <li  class="active"><a data-target="#current-tab" data-toggle="tab">Current</a></li>
      <li><a data-target="#future-tab" data-toggle="tab">Future</a></li>
    </ul>
  </nav>
</div>
<hr>
<br>
<br>
<div class="tab-content">
<div class="tab-pane" id="past-tab">
    <div class="container">
      <div class="row" id='past'>
      </div>
    </div>
  </div>
<div class="tab-pane active" id="current-tab">
    <div class="container">
      <div class="row" id='current'>
      </div>
    </div>
  </div>
<div class="tab-pane" id="future-tab">
    <div class="container">
      <div class="row" id='future'>
      </div>
    </div>
  </div>
</div>
<%= render partial: "input_modal" %>
<script>
  var x = [];
  jQuery.get("http://localhost:3000/comps_display", "", function(response) {
    response.forEach(function(x) {
      addCompBox(x['comp'], x['date'], x['id'], x['future']);
    });
  }, "json")

  function addCompBox(response, time, id, future) {
    // date logic for element id
    time = new Date(time);
    if (time < new Date()) {
      tab = 'past';
    } else if (future) {
      tab = 'future'
    } else {
      tab = 'current'
    }
    var row = document.getElementById(tab);
    var col = document.createElement('div');
    col.className="col-md-4";
    row.appendChild(col);
    var jumbo = document.createElement('div');
    jumbo.className="jumbotron";
    jumbo.id = id;
    jumbo.title = tab;
    col.appendChild(jumbo);
    var name = document.createElement('h3');
    name.innerText = response;
    jumbo.appendChild(name);
    jumbo.appendChild(document.createElement('hr'));
    one = document.createElement('p');
    one.innerText = '';
    two = document.createElement('p');
    two.innerText = '';
    three = document.createElement('p');
    three.innerText = '';
    jumbo.appendChild(one);
    jumbo.appendChild(two);
    jumbo.appendChild(three);
    if (tab != "future") {
      jumbo.setAttribute("data-toggle", "modal");
      jumbo.setAttribute("href", "#inputModal");
    }
  }
  $(document).on("click", ".jumbotron", function(x) {
     var id = x.currentTarget.getAttribute('id');
     var tab = x.currentTarget.getAttribute('title');
     var title = $('div#'+id+'.jumbotron h3')[0].innerText;
     $("#inputModalTitle").text(title);
     document.getElementById("inputModalTitle").title = id;
     uid = getCookie("uid");
     var params = "comp=" + id + "&uid=" + uid;
     [].forEach.call($('.form-control'), function(select) {
       $(select).empty();
     });
     if (tab == "current") { //tab not in scope here
       jQuery.post("http://localhost:3000/comp_teams", params, function(response) {
         teams = response["teams"];
         preds = response["preds"];
         [].forEach.call(document.getElementsByClassName("form-control"), function(select) {
           teams.forEach(function(x) {
             option = document.createElement('option');
             option.innerText=x;
             select.appendChild(option);
           });
           if (preds != null) {
             selection = preds[select.id];
             found = false;
             for (x = 1; x < select.options.length && !found; x++) {
               option = select.options[x].value;
               if (selection == option) {
                 select.selectedIndex = x;
                 found = true;
               }
             }
           }
         });
       }, "json");
     } else if (tab == "past") {
       $('.btn').remove();
       params = "comp=" + id + "&uid=" + uid;
       jQuery.post("http://localhost:3000/get_preds", params, function(response) {

         [].forEach.call($('.form-control'), function(select) {
           selection = response[select.id];
           option = document.createElement('option');
           option.innerText=selection;
           select.appendChild(option);
           $(select).prop('disabled', true);
         });
       }, "json")
     }
  });
</script>
