<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="inputModalTitle">Error</h4>
      </div>
      <div class="modal-body" id="inputModalBody">
        <p>Could not save predictions. Try again.</p>
      </div>
    </div>
  </div>
