<form id="input">
  <div class="form-group">
    <label for="first">First Place</label>
    <select class="form-control" id="first">
    </select>
  </div>
  <div class="form-group">
    <label for="second">Second Place</label>
    <select class="form-control" id="second">
    </select>
  </div>
  <div class="form-group">
    <label for="third">Third Place</label>
    <select class="form-control" id="third">
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
  $(function() {
    $('#input').on('submit', function(e){
        e.preventDefault();
        var comp = document.getElementById("inputModalTitle").title;
        var first = document.getElementById("first").value;
        var second = document.getElementById("second").value;
        var third = document.getElementById("third").value;
        params = "comp=" + comp + "&first="+ first + "&second=" + second + "&third=" +  third + "&uid=" + uid;
        jQuery.post("http://localhost:3000/save_preds", params, function(x) {
          if (x == "false") {
            $("#errorModal").modal("show")
          } else {
            $("#inputModal").modal("hide")
          }
        }, "json");
    });
  });
</script>
