<form id="input">
  <div class="form-group">
    <label for="one">First Place</label>
    <select class="form-control" id="one">
    </select>
  </div>
  <div class="form-group">
    <label for="two">Second Place</label>
    <select class="form-control" id="two">
    </select>
  </div>
  <div class="form-group">
    <label for="three">Third Place</label>
    <select class="form-control" id="three">
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
  $(function() {
    $('#input').on('submit', function(e){
        e.preventDefault();
        var comp = document.getElementById("inputModalTitle").title;
        var one = document.getElementById("one");
        var two = document.getElementById("two");
        var three = document.getElementById("three");
        params = "comp=" + comp + "&one="+ one + "&two=" + two + "&three=" +  three + "&id=" + uid;
        jQuery.post("http://localhost:3000/save_preds", params, function(x) {
          if (x == false) {
            launchModal();
          }
        }, "json");
    });
});
</script>
