<form id="input">
  <div class="form-group">
    <label for="one">First Place</label>
    <select class="form-control" id="one">
      <option>None</option>
    </select>
  </div>
  <div class="form-group">
    <label for="two">Second Place</label>
    <select class="form-control" id="two">
      <option>None</option>
    </select>
  </div>
  <div class="form-group">
    <label for="three">Third Place</label>
    <select class="form-control" id="three">
      <option>None</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
  uid = getCookie("uid");
  var param = document.getElementById("inputModalTitle").title;
  console.log(param);
  jQuery.post("http://localhost:3000/comp_teams", param, function(teams) {
    document.getElementByClass("form-control").forEach(function(select) {
      teams.forEach(function(x) {
        option = document.createElement('option');
        option.value=x;
        select.appendChild(option);
      });
    });
  }, "json");
  $(function(){
    $('#input').on('submit', function(e){
        e.preventDefault();
        var comp = document.getElementById("inputModalTitle").title;
        var one = document.getElementById("one");
        var two = document.getElementById("two");
        var three = document.getElementById("three");
        params = "comp=" + comp + "&one="+ one + "&two=" + two + "&three=" +  three + "&id=" + uid;
        jQuery.post("http://localhost:3000/save_preds", params, function(x) {
          if (x == false) {
            launchModal();
          }
        }, "json");
    });
});
</script>
