<div class="modal fade" id="confModal" tabindex="-1" role="dialog" aria-labelledby="confModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="inputModalTitle">Are you sure you want to delete your account?</h4>
      </div>
      <div class="modal-body" id="inputModalBody">
        <button type="button" class="btn btn-danger" id="delete">Delete Account</button>
        <button type="button" class="btn btn-primary" id="cancel">Cancel</button>
      </div>
    </div>
  </div>

  <script>
  $('#delete').click(function() {
      // auth2.disconnect();
  });
  $('#cancel').click(function() {
    $('#confModal').modal('hide');
  });

  </script>
