<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google-signin-client_id" content="216994415340-7uv8jj5bfdstr473a43ve0agb1b8ut2o.apps.googleusercontent.com">
  <link rel="icon" href="../../favicon.ico">

  <title>RAS Madness</title>
</head>
